/* App.css */

body.calculator-page::before {
  content: "";
  position: fixed; /* Фиксиране към екрана */
  top: 0;
  left: 0;
  width: 100vw; /* Използвай 100% от ширината на прозореца */
  height: 100vh; /* Използвай 100% от височината на прозореца */
  background-image: url('/pexels-lum3n-44775-604969 copy.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* За да остане зад съдържанието */
}


.App {
  text-align: center;
 /* overflow-y: auto; /* Ensure the main app container allows vertical scrolling */
  height: 100vh; /* Ensure the app container takes the full height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  padding: 20px; /* Adjust padding as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
