/* Global styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Times New Roman', sans-serif;
  background: #fff;
  position: relative;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  background-image: url('/background.jpeg'); /* Replace 'background.jpeg' with the actual URL of your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(10px);
  z-index: -1;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #00cc66;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #1aff8c;
}

.success {
  color: green;
  text-align: center;
  margin-top: 1rem;
}

.error {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

p {
  margin-top: 1rem;
  color: #555;
}

p a {
  color: #00cc66;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
