/* UserProfile.css */



.profile-container {
  max-width: 600px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.profile-container h1 {
  text-align: center;
  color: #333;

}

.profile-details p {
  font-size: 18px;
  color: #555;


}

.profile-details p strong {
  color: #000;
}

.update-weight {
  margin-top: 30px;
  text-align: center;
}

.update-weight h2 {
  color: #333;
  margin-bottom: 20px;
}

.update-weight input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 8px;

  font-size: 16px;
}


.all-macros {
  margin-top: 30px;
}

.all-macros h2 {
  color: #333;
  margin-bottom: 20px;
}

.all-macros ul {
  list-style-type: none;
  padding: 0;
}

.macro-item {
  background: #f4f4f4;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.macro-date {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.macro-details p {
  font-size: 14px;
  margin: 2px 0;
  color: #555;
}

.set-goals h2 {
   color: #333;
   margin-bottom: 20px;

 }

 .set-goals input {

   width: 80%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 8px;
   font-size: 16px;

 }

 .weight-records ul {
   list-style: none;
   padding: 0;
 }

 .weight-records li {
   background: #dcfae3;
   padding: 10px;
   margin-bottom: 5px;
   border-radius: 5px;
 }

 button + button {
   margin-left: 10px; /* Add space between buttons */
 }
.update-weight,
.set-goals,
.weight-records,
.all-macros {
  margin-bottom: 20px;
}

.status {
  padding: 10px;
  background-color: #e9f7e9;


  border-radius: 20px;
}

.status h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.status select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 10px;
}

.status p {
  font-size: 16px;
  margin-top: 10px;
  color: #333;
  font-weight: bold;
}






